body {
    background-color: hsl(212, 45%, 89%);
}

.main {
    margin-top: 70px;
    width: 320px;
    height: 499px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
}

img {
    border-radius: 10px;
    width: 288px;
    height: 288px;
    margin: 16px 16px 0 16px;
}
.text {
    width: 288px;
    height: 131px;
    text-align: center;
    margin: 24px 16px 40px 16px;
}

p {
    margin: 16px 16px 0px 16px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(216, 15%, 48%);
    width: 256px;
    height: 63px;
    font-size: 15px;
}

h2 {
    color: hsl(218, 44%, 22%);
    font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


